/* === app基础样式  (start) === */
html, body {
    height: 100%;
}

body {
    min-width: 320px;
    background: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #333;
    
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,span,em,i,strong{
    margin: 0;
    padding: 0;
    border:none;
}

body,button,input,select,textarea {
    font: normal 14px/1.5  "PingFang SC", "Heiti SC","Arial","Lucida Grande",Verdana,STXhei,"Microsoft YaHei","hei";
}
[v-cloak] {
    display: block;
}

a{
    color:#666;
    /* &:hover{
        color:#d70000;
    } */
}

.app {
    position: relative;
    max-width: 750px;
    height:100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    -webkit-box-sizing: border-box;
}
.wrapper{
    width:100%;
    height:100%;
}
.toolbar-fixed {
    padding: 0 0 60px;
}
header,footer{
    width:7.5rem;
    left:0;
    right:0;
    margin:auto;
    max-width:750px;
}
footer.toolbar {
    z-index: 2000;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height:60px;
    width: 100%;
    min-width: 320px;
    border-top: 1px solid #eee;
    background-color: #fff;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    display:flex;
    .toolbar-icon, .toolbar-link {
        font-size: 12px;
        text-align: center;
        height: 100%;
        display:block;
    }
    .mui-item{
        flex:1;
        padding-top:4px;
    }
    .toolbar-link{
        &.router-link-active {
            color: #d70000;
        }
        .mui-icon {
            display: block;
            margin: 6px auto 0;
            width: 24px;
            height: 24px;
            overflow: hidden;
        }
        .footer-txt{
            display:block;
            margin-top:2px;
        }
    }
}

/*下一页*/
.next-enter-active {
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    opacity: 1;
    position: fixed;
    width:100vw;
}

.next-enter, .next-leave-active {
    opacity: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
}

.next-leave-active {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
/*上一页*/
.prev-enter-active {
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    width:100vw;
}

.prev-enter, .prev-leave-active {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
}

.prev-active {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

::-webkit-scrollbar {
    display: none;
}





/* === app基础样式  (end) === */
@import url('_mixins.scss');
@import url('_colors-vars.scss');
